@import "tailwindcss";

body {
  background-color: white;
  color: rgb(17, 24, 39);
  transition-property: color, background-color;
  transition-duration: 200ms;
  font-family: sans-serif;
}

:root[class~="dark"] body {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}
